<!DOCTYPE html>
<html lang="en">

<head>
  <title>Perfumes</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/Icon-Perfume.jpg">
  <link href="css/1.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">

</head>

<body background="img/Fondo_Principal.png">
  <br><br><br><br><br>
  <div class="Div-Principal">
    <header class="Cabecera">
      <nav class="Nav-Opciones">
        <a href="Index.php">
          <h1 class="Logo-Perfumes">PERFUMERÍA</h1>
        </a>
        <ul>
          <li><a href="Admin.html"><i class="fas fa-user-cog"></i></a></li>
          <li><a href="Compras.html"><i class="fas fa-cart-plus"></i></a></li>
          <li><a href="Registrate.html"><i class="far fa-user-circle"></i></a></li>
        </ul>
      </nav>
    </header>
    <h1 class="Titulo_Carrito">CARRITO DE COMPRAS</h1>
    <div class="Flex_Compras" id="Compra_1">
      <div class="Datos_Carrito" id="Datos_Carrito_1">
        <h3>Perfume Dolce Gabbana Dolce Mujer 75 ml EDP</h3>
        <img src="img/Catalogo-1.png" class="Img_Producto" id="Img_Compra_1">
        <!--<h4 class="Precio_Carrito" id="Precio_Carrito_1">$ USD 100</h4>-->
        <form name="Cantidad_Producto" action="" method="" id="Cantidad_Producto">
          <h3>Cantidad</h3>
          <input type="number" name="Cantidad" min="1" max="10" step="1" required="required" id="Input_Cantidad">
          <!-- <input type="submit" value="Enviar">-->
        </form>
      </div>
      <div class="Datos_Carrito" id="Datos_Carrito_2">
        <a href=""> <i class="far fa-smile-beam" id="Icon_Compras"></i></a>
        <a href=""> <i class="far fa-trash-alt" id="Icon_Compras"></i></a>
        <br> <br>
        <h2 class="Titulo_Sub_Total" id="Titulo_Sub_Total_1">SUB TOTAL</h2> <br>
        <h4 class="Precio_Sub_Total" id="Precio_1">$ USD 400</h4>
      </div>
    </div>
    <div class="Flex_Compras" id="Compra_1">
      <div class="Datos_Carrito" id="Datos_Carrito_1">
        <h3>Perfume Dolce Gabbana Dolce Mujer 75 ml EDP</h3>
        <img src="img/Catalogo-1.png" class="Img_Producto" id="Img_Compra_1">
        <!--<h4 class="Precio_Carrito" id="Precio_Carrito_1">$ USD 100</h4>-->
        <form name="Cantidad_Producto" action="" method="" id="Cantidad_Producto">
          <h3>Cantidad</h3>
          <input type="number" name="Cantidad" min="1" max="10" step="1" required="required" id="Input_Cantidad">
          <!-- <input type="submit" value="Enviar">-->
        </form>
      </div>
      <div class="Datos_Carrito" id="Datos_Carrito_2">
        <a href=""> <i class="far fa-smile-beam" id="Icon_Compras"></i></a>
        <a href=""> <i class="far fa-trash-alt" id="Icon_Compras"></i></a>
        <br> <br>
        <h2 class="Titulo_Sub_Total" id="Titulo_Sub_Total_1">SUB TOTAL</h2> <br>
        <h4 class="Precio_Sub_Total" id="Precio_1">$ USD 400</h4>
      </div>
    </div>
  </div>
  <div class="Compra_Total_Carrito">
    <div class="Contenido_Compra">
      <h1>Resumen del pedido</h1>
      <br> 
      <h3>Subtotal :   $800 USD</h3>
      <h3>Envío :  $ 10 USD</h3>
    </div>
    <button class="Comprar_Buttom">COMPRAR</button>
  </div>


</body>

</html>