<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfumes</title>
    <link rel="icon" href="img/Icon-Perfume.jpg">
    <link href="css/Estilo_Principal.css" rel="stylesheet">
    <link href="css/Contacto.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body background="img/Fondo_Principal.png">
    <div class="Div-Principal">
        <header>
            <nav>
                <h1 class='Logo-h1'><a href="Index.php">PERFUMERÍA</a></h1>
                <ul class='Icons-ul_2'>
                    <li><a href="Contacto.html"><i class="fas fa-address-book"></i></a></li>
                    <li><a href="Compras.html"><i class="fas fa-cart-plus"></i></a></li>
                    <li><a href="Registrate.html"><i class="far fa-user-circle"></i></a></li>
                </ul>
            </nav>
        </header>
        <div class='img_contacto'>
            <img src="img/BannerContactanos.jpg" alt="">
        </div>
        <div class='Escribenos'>
            <h1>ESCRÍBENOS</h1>
            <h2>
                Avda. Ordoñez<br>
                Edificio Pinar, Piso 75 <br>
                Teléfono: 90 74 999 <br>
                Colombia <br>
            </h2>
        </div>
        <div class='Formulario_Contacto'>
            <form><br>
                <h1>CONTÁCTANOS
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nam, architecto.</p>
                </h1>
                <br> <br> <br>
                <input class="Input_contact" type="text" placeholder="Nombre Completo">&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="Input_contact" type="email" placeholder="Email"> &nbsp <br>
                <br> <br>
                <select class="select_contact" id="tipo_consulta" name="select-1">
                    <option value="value1" disabled>¿Qué deseas?</option>
                    <option value="value2">Interesado en un producto</option>
                    <option value="value3">Reclamos o Quejas</option>
                </select> <br> <br>
                <textarea name="textarea" rows="9" cols="50" placeholder="Escribe lo que quieras"></textarea>
                <br><br>
                <button class="Botton-Enviar">Enviar</button>
            </form>
        </div>
    </div>
    <!--
    <h1 class="Titulo_Marcas">MARCAS QUE AMAMOS</h1>
    <div class="Caja-Logos">
        <div class="Logo">
            <a href="https://www.giorgioarmanibeauty-usa.com/fragrances/" target="_blank">
                <img src="img/1-Perfume.png">
            </a>
        </div>
        <div class="Logo">
            <a href="https://www.dolcegabbanabeauty.com/es/perfumes/" target="_blank"><img src="img/2-Perfume.png" alt=""></a>
        </div>
        <div class="Logo">
            <a href="https://www.guerlain.com/es/es-es/fragancia/fragancias-femeninas/" target="_blank">
                <img src="img/3-Perfume.png" alt="">
            </a>
        </div>
        <div class="Logo">
            <a href="https://www.lancome.com.mx/perfumes/perfumes-de-mujer/" target="_blank"><img src="img/4-Perfume.png" alt=""></a>
        </div>
    </div>
-->
</body>

</html>