<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfumes</title>
	  <link rel="icon" href="img/Icon-Perfume.jpg">
  <link href="css/1.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">
</head>
<body background="img/Fondo_Principal.png">
	<br><br><br><br><br>
  <div class="Div-Principal">
  	<header class="Cabecera" >
      <nav class="Nav-Opciones" >
        <a href="Index.php">
          <h1 class="Logo-Perfumes">PERFUMERÍA</h1>
        </a>
        <ul>
          <li><a href="Contacto.html"><i class="fas fa-address-book"></i></a></li>
          <li><a href="Compras.html"><i class="fas fa-cart-plus"></i></a></li>
          <li><a href="Registrate.html"><i class="far fa-user-circle"></i></a></li>
        </ul>
      </nav>
    </header>

    <div class="Img_Contacto">
    	<img src="img/Contacto.jpg">
      <div>
        <h1>CONTACTA CON NOSOTROS</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ex neque voluptatibus voluptates iste atque vitae praesentium, vero a facere? Nulla incidunt impedit, possimus dicta, hic reprehenderit minima ab eligendi.</p>

      <button class="btn-contact" id="btn_mensaje" onclick="Formulario_Peticion()">CONSULTE AQUÍ</button>
      <div class="Info-contact">
      <h1 class="Informacion_Contacto" id="Titulo">DATOS DE CONTACTO</h1>
      <h2><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;VISITANOS
        <p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit.</p>
      </h2>
        <h2 id="Horario"><i class="fas fa-clock"></i>&nbsp;&nbsp;&nbsp;HORARIOS
        <p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit.</p>
      </h2>
        <h2 id="Chat"><i class="far fa-comments"></i>&nbsp;&nbsp;&nbsp;CHATEA CON NOSOTROS
        <p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit.
          <br>
          <h3 id="icon-info">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-whatsapp-square"></i>
          <i class="fab fa-instagram-square"></i>
          </h3>
        </p>
      </h2>
      </div>
    </div>
    </div>
    <div class ="Formulario_Contacto">
      <!---->
      <form><br>
            <h1>CONTÁCTANOS</h1> <br>
            <br>
            <input class="Input_contact" type="text" placeholder="Nombre Completo">&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="Input_contact" type="email" placeholder="Email"> &nbsp <br>
            <label id="label_sexo">Sexo</label>
            <select class="select_contact" id="select_sexo" name="select">
                <option value="value1" disabled>Sexo</option>
                <option value="value2">Hombre</option> 
                <option value="value3">Mujer</option>
            </select>
            <br><br> <br>
            <label id="label_edad">Edad </label>
            <select class="select_contact" id="select_edad" name="select">
                <option value="value1" disabled>Elige tu edad</option>
                <option value="value2">18-25 Años</option> 
                <option value="value3">25-35 Años</option>
                <option value="value3">35-50 Años</option>
                <option value="value3">50-75 Años</option>
            </select>&nbsp;&nbsp
            <select class="select_contact" id="tipo_consulta" name="select-1">
              <option value="value1" disabled>¿Qué deseas?</option>
              <option value="value2">Interesado en un producto</option> 
              <option value="value3">Reclamos o Quejas</option>
            </select> <br> <br>
            <textarea name="textarea" rows="9" cols="50" placeholder="Escribe lo que quieras"></textarea>
            <br><br>
            <button class="Botton-Enviar">Enviar</button>
    </form>
    <!---->

            <!--

           <form class="Formulario" id="Registrar">
      <legend>
        <h1>REGÍSTRATE <br> <i class="fas fa-user-plus"></i></h1>
      </legend>
      <input class="Input-Registrate" type="text" name="Nombre" minlength="2" maxlength="15" pattern="[A-Za-z]+"
        placeholder="Nombre " required>&nbsp &nbsp
      <input class="Input-Registrate" type="text" name="Apellido" minlength="2" maxlength="15" pattern="[A-Za-z]+"
        placeholder="Apellido" required>&nbsp &nbsp <br> <br> <br>
      <input class="Input-Registrate" type="text" name="Telefono" minlength="2" maxlength="14" pattern="[0-9+?]+"
        placeholder="Telefono" required> &nbsp &nbsp
      <input class="Input-Registrate" type="email" name="Email" maxlength="30" placeholder="Email" required><br>
      <br> <br>
      <input class="Input-Registrate" id="Registrar-Contraseña_1" type="password" name="Contraseña" minlength="8"
        maxlength="30" pattern="[A-Za-z0-9]+" id="pass" placeholder="Contraseña" required>
      <input class="Input-Registrate" id="Registrar-Contraseña_2" type="password" name="Confirmar_contraseña"
        minlength="8" pattern="[A-Za-z0-9]+" maxlength="30" id="passconfirm" placeholder="Confirmar Contraseña"
        required> &nbsp &nbsp
      <a onclick="mostrarContra()" class="Mostrar-Contraseña"><i class="fas fa-eye"></i></a>
       este es el boton de mostrar y ocultar-->
      <!--
      <br><br>
      <h4 id="alerta_registro"> </h4> este es el lugar donde sale el mensaje en registro-->
      <!--
      <input type="submit" value="Registrarme" id="btn-registrar" class="Botton-Enviar" />
      <br>
    </form>
-->










    </div>



        <h1 class="Titulo_Marcas">MARCAS QUE AMAMOS</h1>
        <div class="Caja-Logos">
          <div class="Logo">
            <a href="https://www.giorgioarmanibeauty-usa.com/fragrances/" target="_blank">
              <img src="img/1-Perfume.png">
            </a>
          </div>
          <div class="Logo">
            <a href="https://www.dolcegabbanabeauty.com/es/perfumes/" target="_blank"><img src="img/2-Perfume.png" alt=""></a>
          </div>
          <div class="Logo">
            <a href="https://www.guerlain.com/es/es-es/fragancia/fragancias-femeninas/" target="_blank">
              <img src="img/3-Perfume.png" alt="">
            </a>
          </div>
          <div class="Logo">
            <a href="https://www.lancome.com.mx/perfumes/perfumes-de-mujer/" target="_blank"><img src="img/4-Perfume.png" alt=""></a>
          </div>
 </div>
  </div>
  <script src="js/Contacto.js"></script>
</body>
</html>