<!DOCTYPE html>
<html lang="en">

<head>
  <title>Responsive</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="img/Logo-Perfume.png">
  <link href="css/1.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap" rel="stylesheet">
</head>
<body background="img/Fondo_Registrar.jpg">
  <br> <br> <br> <br>
  <header class="Cabecera">
    <nav class="Nav-Opciones">
      <a href="Index.html">
        <h1 class="Logo-Perfumes">PERFUMERÍA</h1>
      </a>
      <ul>
        <li><a href=""><i class="fas fa-user-cog"></i></a></li>
        <li><a href=""><i class="fas fa-cart-plus"></i></a></li>
        <li><a href="Registrate.html"><i class="far fa-user-circle"></i></a></li>
      </ul>
    </nav>
  </header>
  <div class="Formulario-P">
    <div class="Tabs-Usuario">
      <label for="Registrate">Registrarme</label>
      <label for="Login">Iniciar Sesión</label>
    </div>
    <div class="content">
      <input type="radio" name="radio" id="Registrate" checked>
      <div class="Tabs-1">
        <form class="Formulario" id="Registrar" action="../../controller/ACTIONS/act_register.php" method="POST">
          <legend>
            <h1>REGÍSTRATE <br> <i class="fas fa-user-plus"></i></h1>
          </legend>
          <input class="Input-Registrate" type="text" name="Nombre" placeholder="Nombre">&nbsp  &nbsp 
          <input class="Input-Registrate" type="text" name="Apellido" placeholder="Apellido">&nbsp  &nbsp  <br> <br> <br>
          <input class="Input-Registrate" type="tel" name="Telefono" placeholder="Telefono"> &nbsp  &nbsp  
          <input class="Input-Registrate" type="tel" name="Email" placeholder="Email">&nbsp  &nbsp   <br> <br> <br>
          <input class="Input-Registrate" type="tel" name="Contraseña" placeholder="Contraseña">&nbsp &nbsp  
          <input class="Input-Registrate" type="tel" placeholder="Confirmar Contraseña"> &nbsp  &nbsp 
          <br><br>
          <input type="submit" value="Registrarme" id="btn-registrar" class="Botton-Enviar"/>
          <br>
        </form>
      </div>
      <input type="radio" name="radio" id="Login" checked>
      <div class="Tabs-2">
        <form  class="Formulario" id="Iniciar" action="../../controller/ACTIONS/act_login.php" method="POST">
          <h1>Bienvenido a Perfumes <br> <i class="fas fa-users"><br></i></h1>
          <br> <br>
          <input id="Telefono" class="Input" type="text" name="Email" placeholder="Numero de telefono o Email"> <br> <br>
          <input id="Contraseña" class="Input" type="text" name="Contraseña" placeholder="Contraseña">
          <h1 class="Usuario" id="Contraseña"><a href="">¿PERDISTE TU CONTRASEÑA?</a></h1> <br>
          <input type="submit" value="Ingresar" class="Botton-Enviar"/>
        </form>
      </div>
    </div>
  </div>
  </div>
</body>
</html>