<!DOCTYPE html>
<html lang="en">

<head>
  <title>Perfumes</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="img/Icon-Perfume.jpg">
  <link href="css/1.css" rel="stylesheet">
  <link href="css/validaciones.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body background="img/Fondo_Registrar.jpg">
  <div class="Div-Principal">
    <header>
      <nav>
        <h1 class='Logo-h1'><a href="Index.php">PERFUMERÍA</a></h1>
        <ul class='Icons-ul_2'>
          <li><a href="Contacto.html"><i class="fas fa-address-book"></i></a></li>
          <li><a href="Compras.html"><i class="fas fa-cart-plus"></i></a></li>
          <li><a href="Registrate.html"><i class="far fa-user-circle"></i></a></li>
        </ul>
      </nav>
    </header>
    <div class="tab">
      <button class="tablinks" id='pestaña_1' onclick="Tabs_Principal(event, 'Pestaña_1')">Registrarme</button>
      <button class="tablinks" id='pestaña_2' onclick="Tabs_Principal(event, 'Pestaña_2')">Iniciar Sesión</button>
    </div>
      <form class="tabcontent" id="Pestaña_1">
        <h1>REGÍSTRATE<br><i class="fas fa-user-plus"></i></h1> <br><br>
          <label for="nombre" class="formulario__label">Nombre</label> <br> <br>
          <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="ej: juan">
          <i class="formulario__validacion-estado fas fa-times-circle" id='Validacion'></i>
          <p class="formulario__input-error"> el nombre tiene que ser de 3-16 <br> digitos y solo letras</p>
          <label for="apellido" class="formulario__label">Apellido</label> <br> <br>
          <input type="text" class="formulario__input" name="apellido" id="apellido" placeholder="ej: alfonso">
          <i class="formulario__validacion-estado fas fa-times-circle" id='Validacion'></i>
          <p class="formulario__input-error"> el apellido tiene que ser de 3-16 digitos y solo letras</p>
          <label for="password" class="formulario__label">Contraseña</label> <br> <br>
          <input type="password" class="formulario__input" name="password" id="password" placeholder="de 8-30 caracteres">
          <i class="formulario__validacion-estado fas fa-times-circle"></i>
<!--
        <div class="formulario__grupo " id="grupo__nombre">
          <div class="formulario__grupo-input">
            
            
          </div>
          <p class="formulario__input-error"> el nombre tiene que ser de 3-16 digitos y solo letras</p>
        </div>

        <!-- Grupo: apellido -->
<!---
        <div class="formulario__grupo" id="grupo__apellido">
          <label for="apellido" class="formulario__label">Apellido</label>
          <div class="formulario__grupo-input">
            <input type="text" class="formulario__input" name="apellido" id="apellido" placeholder="ej: alfonso">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error"> el apellido tiene que ser de 3-16 digitos y solo letras</p>
        </div>

        <!-- Grupo: password -->
<!---
        <div class="formulario__grupo" id="grupo__password">
          <label for="password" class="formulario__label">Contraseña</label>
          <div class="formulario__grupo-input">
            <input type="password" class="formulario__input" name="password" id="password"
              placeholder="de 8-30 caracteres">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error"> La contraseña tiene que tener un minimo de 8 caracteres numeros o letras
          </p>
        </div>

        <!-- Grupo: password2 2 -->
<!---
        <div class="formulario__grupo" id="grupo__password2">
          <label for="password2" class="formulario__label">Confirmar contraseña</label>
          <div class="formulario__grupo-input">
            <input type="password" class="formulario__input" name="password2" id="password2"
              placeholder="de 8-30 caracteres">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error"> ambas contraseñas deben ser iguales</p>
        </div>

        <!-- Grupo: correo -->
<!---
        <div class="formulario__grupo" id="grupo__email">
          <label for="correo" class="formulario__label">Correo Electronico</label>
          <div class="formulario__grupo-input">
            <input type="email" class="formulario__input" name="email" id="email" placeholder="ej: correo@mail.com">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones bajos,
            guion y @.</p>

        </div>

        <!-- Grupo: telefono -->
<!---
          <div class="formulario__grupo" id="grupo__numero_movil">
          <label for="telefono" class="formulario__label">Telefono</label>
          <div class="formulario__grupo-input">
            <input type="text" class="formulario__input" name="numero_movil" id="numero_movil"
              placeholder="ej: 304xxxxxxx">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
        </div>

        <!-- Grupo: Terminos y Condiciones -->
<!---
        <div class="formulario__grupo-terminos" id="grupo__terminos">
          <label class="formulario__label">
            <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
            Acepto los Terminos y Condiciones
          </label>
        </div>

        <div class="formulario__mensaje" id="formulario__mensaje">
          <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente y
            acepta nuestros terminos.
          </p>
        </div>
        <div class="formulario__mensaje" id="formulario__mensaje-bd">

        </div>
        <div class="formulario__grupo formulario__grupo-btn-enviar">
          <button type="submit" class="formulario__btn">Enviar</button>
          <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente! se le
            redireccionara en:</p>
          <span id="countdown"></span>
        </div>

      </form>

    </div>
  -->
    <div id="Pestaña_2" class="tabcontent " id="Content_Pagina_Registro">
      <form class="Formulario" id="Iniciar">

        <h1>Bienvenido a Perfumes <br> <i class="fas fa-users"><br></i></h1>
        <br> <br>
        <h4 id="alerta_login"> </h4><!-- este es el lugar donde sale el mensaje en login-->
        <input id="Email" class="Input" type="email" name="Email" placeholder=" Email" title="El correo solo puede contener letras, numeros, puntos, guiones bajos,
        guion y @." required> <br> <br>
        <input id="Contraseña" class="Input" type="password" name="Contraseña" minlength="8" maxlength="30"
          pattern="[A-Za-z0-9]{8,30}" placeholder="Contraseña"
          title="La contraseña tiene que tener un minimo de 8 caracteres numeros o letras" required>
        <a href="" id="Olvidaste-contraseña">¿PERDISTE TU CONTRASEÑA?</a>

        <input type="submit" value="Ingresar" class="Botton-Enviar" id="btn-Login" />
      </form>
    </div>


  </>

  </div>




  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <script src="js/login.js"></script>
  <script src="js/registro.js"></script>

</body>

</html>