


div[class='img_contacto'] {
    position: relative;
    border-top: 10px solid silver;
    top: 10px;
}

div[class='img_contacto'] img {
    position: relative;
    width: 100%;
    height: 400px;
}


div[class='Escribenos'] {
    position: relative;
    background-color: green;
    width: 35%;
    height: 500px;
    text-align: center;
    top: 90px;
    left: 30px;
}

div[class='Escribenos'] h1 {
    position: relative;
    color: black;
    font-size: 45px;
}

div[class='Escribenos'] h2 {
    position: relative;
    font-size: 20px;
    text-transform: lowercase;
}



div[class='Formulario_Contacto'] {
    position: relative;
    /*background-color: rgb(0,0,0);*/
    box-shadow: 0 0 0 5px;
    border: 2px solid black;
    text-align: center;
    width: 50%;
    height: 640px;
   /* top: -60px;
    left: 800px;*/
    margin-bottom: 80px;
    border-radius: 10px;
    left: 700px;
    top: -400px;
}

div[class='Formulario_Contacto'] form {
    position: relative;
    background-color:   #848484;
    border-radius: 10px;
    height: 640px;
    width: 100%;
}
/*
div[class='Formulario_Contacto'] form img {
    position: relative;
    opacity: 0.8;
    width: 100%;
    height: 600px;
    color: black;
  /*  top: -20px;*/
/*
}
*/


div[class='Formulario_Contacto'] form h1 {
    position: relative;
    background-color: black;
    font-family: Bradley Hand ITC;
    text-align: center;
    width: 100.5%;
    height: 50px;
    font-size: 37px;
    color: bisque;
    top: -21px;
    left: -2px;
   /* top: -580px;*/
}

div[class='Formulario_Contacto'] form input {
    position: relative;
    width: 67%;
    margin-bottom: 40px;
    height: 30px;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid black;
    outline: none;
    border-right: none;
    background-color: transparent;
 /*   top: -550px;*/
    color: white;
    font-size: 20px;
}

div[class='Formulario_Contacto'] form input::placeholder {
    position: relative;
    color: white;
    font-size: 20px;
}




div[class='Formulario_Contacto'] form select {
    background-color: transparent;
    color: white;
    width: 60%;
    outline: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid black;
 /*   top: -530px;*/
    font-size: 22px;
    top: -20px;
    left: -35px;
}

div[class='Formulario_Contacto'] form select option {
    background-color: transparent;
    color: black;
    outline: none;
}

div[class='Formulario_Contacto'] form textarea {
    position: relative;
    color: white;
    background-color: #353535;
    outline: none;
    text-decoration: none;
    width: 83%;
    height: 190px;
  /*  top: -500px;*/

}

div[class='Formulario_Contacto'] form button {
    background-color: black;
    border-radius: 10px;
    outline: none;
    width: 20%;
    height: 35px;
    color: bisque;
/*    top: -500px;*/
}

div[class='Ofertas'] {
    position: relative;
    background-color: silver;
    text-align: center;
    height: 230px;
    border: 2px solid silver;
}

div[class='Ofertas'] img {
    position: relative;
    width: 100%;
    height: 230px;
}


div[class='Ofertas'] h1 {
    position: relative;
    font-family: Shrikhand;
    width: 90%;
    color: black;
    left: 80px;
    background-color: rgb(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 25px;
    top: -180px;

}

div[class='Ofertas'] input {
    position: relative;
    background-color: white;
    outline: none;
    text-decoration: none;
    padding-left: 10px;
    border-radius: 10px;
    width: 20%;
    height: 30px;
    top: -135px;
}

div[class='Ofertas'] button {
    position: relative;
    background-color: black;
    color: bisque;
    border-radius: 10px;
    width: 7%;
    height: 30px;
    top: -135px;
}