/*---------------PESTAÑA DE REGISTRAR Y USUARIO----------------------*/

#Pagina_Registro{
    position: relative;
    height: 2900px;
}


form[id='Formulario_Registro'] {
    position: relative;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 5px solid black;
    width: 50%;
    height: 780px;
    left: 380px;
    box-shadow: 0px 0px 10px 0px;
    top:20px;
}

form[id='Formulario_Registro'] .Formulario_Grupo input {
    position: relative;
    width: 90%;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid black;
    outline: none;
    border-right: none;
    background-color: transparent;
}

form[id='Formulario_Registro'] h1 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    top: 20px;
}



form[id='Formulario_Registro'] p {
    position: relative;
}

form[id='Formulario_Registro'] #Validacion {
    position: relative;
    left: -24px;
    top: -5px;
}

form[id='Formulario_Registro'] label {
    position: relative;

}

form[id='Formulario_Registro'] .Formulario_Grupo {
    position: relative;
    width: 40%;
    padding: 0;
    margin: 0;
    height: 120px;
    left: 10px;
    margin-left: 50px;
}

form[id='Formulario_Registro'] #formulario__mensaje {
    position: relative;
    text-align: center;
    background-color: red;
    left: 100px;
}




form[id='Formulario_Iniciar'] {
    position: relative;
    text-align: center;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
    border: 5px solid black;
    width: 35%;
    height: 370px;
    left: 495px;
    box-shadow: 0px 0px 10px 0px;
    top:20px;
}

form[id='Formulario_Iniciar'] h1 {
    position: relative;
    font-size: 35px;
}


form[id='Formulario_Iniciar'] input {
    
    position: relative;
    width: 50%;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid black;
    outline: none;
    border-right: none;
    background-color: transparent;
}

form[id='Formulario_Iniciar'] a{
    
    position: relative;
    color: black;
}

form[id='Formulario_Iniciar'] .Botton-Enviar {
    position: relative;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 33%;
    height: 30px;
    font-family: Yellowtail;
    font-size: 25px;
}

