<!DOCTYPE html>
<html lang="en">

<head>
  <title>Administrador</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/1.css" />
  <link rel="icon" href="img/Icon-Admin.png" />
  <link rel="stylesheet" href="css/all.min.css" />
  <meta name="google" content="notranslate" />
  <link rel="stylesheet" href="node_modules/alertifyjs/build/css/alertify.min.css" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="node_modules/alertifyjs/build/css/themes/default.min.css" />

</head>

<body background="img/Fondo_Principal.png">
  <br /><br /><br /><br /><br />
  <div class="Div-Principal mt-4 shadow-lg p-3 mb-5  rounded">
    <header class="Cabecera">
      <nav class="Nav-Opciones">
        <a class="a-Logo" href="../store/">
          <h1 class="Logo-Perfumes">PERFUMERÍA</h1>
        </a>
        <i class="fas fa-user-cog"></i>
      </nav>
    </header>
    <div class="Div-Tabs">
      <button class="tablinks" id='pestaña_1' onclick="Tabs_Principal(event, 'Pestaña_1')">
        Administrar Productos
      </button>
      <button class="tablinks" id='pestaña_2' onclick="Tabs_Principal(event, 'Pestaña_2')">
        Administrar Clientes
      </button>
    </div>
    <h3 class="Titulo_Admin">ADMINISTRADOR</h3>
    <div id="Pestaña_1" class="tabcontent">
      <div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded" id="Div_Productos">
        <button class="btn btn-primary" id="btnProducto" type="button" data-bs-toggle="modal">Agregar Producto </button>

        <table class="table mt-2 table-bordered table-striped">
          <thead>
            <tr class="Nombres_Indicadores text-center">
              <th>ID</th>
              <th>TIPO</th>
              <th>IMAGEN</th>
              <th>PRODUCTO</th>
              <th>DESCRIPCIÓN</th>
              <th>PRECIO</th>
              <th>STOCK</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody id="contenedor-productos"></tbody>
        </table>
      </div>
    </div>
    <div id="Pestaña_2" class="tabcontent" style='display:block'>
      <div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded" id="Div_Clientes">
        <button id="btnAdmin" type="button" class="btn btn-primary" data-bs-toggle="modal"> Agregar Cliente</button>
        <table class=" table mt-2 table-bordered table-striped" id="Tabla_Admin_Clientes">
          <thead>
            <tr class=" text-center">
              <th>ID</th>
              <th>NOMBRE</th>
              <th>APELLIDO</th>
              <th>TELÉFONO</th>
              <th>EMAIL</th>
              <th>CONTRASEÑA</th>
              <th>ACCIONES</th>
            </tr>
          </thead>

          <tbody id="contenedor-clientes"></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Bootstrap ventana-->


  <!-- modal usuarios-->
  <div id="modalArticulo" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-dark">
          <h5 class="modal-title" id="exampleModalLabel">Tabla Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="formulario-usuario">
            <div class="mb-3 bg-danger" id="divAviso">
            </div>
            <div class="mb-3" id="divId">
              <label for="Id_usuario" class="col-form-label">id:</label>
              <input type="text" class="form-control" id="id_cliente" name="id_cliente" readonly autofocus>
            </div>
            <div class="mb-3">
              <label for="nombre" class="col-form-label">nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" minlength="2" maxlength="15"
                title="el nombre puede tener letras, maximo 15" pattern="[A-Za-z]+" required autofocus>
            </div>
            <div class="mb-3">
              <label for="apellido" class="col-form-label">apellido:</label>
              <input type="text" class="form-control" id="apellido" name="apellido" minlength="2" maxlength="15"
                title="el apellido puede tener letras, maximo 15" pattern="[A-Za-z]+" required autofocus>
            </div>
            <div class="mb-3">
              <label for="telefono" class="col-form-label">telefono:</label>
              <input type="text" class="form-control" id="numero_movil" name="numero_movil" minlength="2" maxlength="14"
                title="El telefono puede tener numeros, maximo 14" pattern="[0-9+?]+" required autofocus>
            </div>
            <div class="mb-3">
              <label for="email" class="col-form-label">email:</label>
              <input type="email" class="form-control" id="email" name="email" maxlength="30" title="El correo solo puede contener letras, numeros, puntos, guiones bajos,
                guion y @." required autofocus>
            </div>
            <div class="mb-3" id="divpass">
              <label for="password" class="col-form-label">password:</label>
              <input type="text" class="form-control" id="password" name="password" minlength="8" maxlength="30"
                title="La contraseña tiene que tener un minimo de 8 caracteres numeros o letras"
                pattern="[A-Za-z0-9]{8,30}" required autofocus>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar usuario</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- modal productos-->
  <div id="modalProductos" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <form id="formulario-producto">
        <div class="modal-content">
          <div class="modal-header bg-primary text-dark">
            <h5 class="modal-title" id="exampleModalLabel2">Tabla Producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3 bg-danger" id="divAvisoProducto">
            </div>
            <div class="mb-3" id="divId_producto">
              <label for="id_producto" class="col-form-label">id:</label>
              <input type="number" class="form-control" id="id_producto" name="Id_producto" readonly autofocus>
            </div>
            <div class="mb-3">
              <label for="tipo" class="col-form-label">tipo:</label>
              <input type="text" class="form-control" id="tipo" name="Tipo" minlength="1" maxlength="1"
                title="el tipo solo puede ser masculino=M o femenino=F" pattern="[MF]{1}" required autofocus>
            </div>

            <div class="mb-3">
              <label for="producto" class="col-form-label">nombre del producto:</label>
              <input type="text" class="form-control" id="producto" name="Producto" minlength="4" maxlength="60"
                title="El nombre del producto puede tener un minimo de 4 caracteres y maximo 60" required autofocus>
            </div>
            <div class="mb-3">
              <label for="descripcion" class="col-form-label">descripcion:</label>
              <input type="text" class="form-control" id="descripcion" name="Descripcion" minlength="5" maxlength="255"
                required autofocus>
            </div>
            <div class="mb-3">
              <label for="precio" class="col-form-label">precio:</label>
              <input type="text" class="form-control" id="precio" name="Precio" minlength="1" maxlength="15"
                title="El precio puede tener numeros, maximo 15" pattern="[0-9]+" required autofocus>
            </div>
            <div class="mb-3">
              <label for="stock" class="col-form-label">stock:</label>
              <input type="text" class="form-control" id="stock" name="Stock" minlength="1" maxlength="3"
                title="El stock puede tener maximo 999 productos, solo numeros" pattern="[0-9]+" required autofocus>
            </div>
            <div class="mb-3">
              <label for="imagen" id="imagenbtn" class="col-form-label">imagen:</label>
              <input type="file" class="form-control" id="imagen" name="Imagen" required autofocus>
              <h7 class="col-form-label">vista previa:</h7> <br>
              <div id="productoimg">
                <h7 class="col-form-label">aun no ha elegido una imagen</h7> <br>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar producto</button>
          </div>
      </form>
    </div>
  </div>
  </div>

  <script type="text/javascript" src="js/1.js"></script>

  <script src="node_modules/alertifyjs/build/alertify.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Bootstrap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/admin.js"></script>
  <script src="js/productos.js"></script>
</body>

</html>